---

---

<!-- Pengertian Himauntika -->
<div class="flex flex-col gap-6">
    <h1 class="font-Montserrat text-center text-2xl font-bold max-md:text-xl">HIMAUNTIKA</h1>
    <div class="text-justify font-Roboto max-md:text-sm">HIMAUNTIKA adalah suatu organisasi mahasiswa Teknik Informatika yang bergaris koordinasi vertikal BEM FAKULTAS TEKNIK dan bertujuan untuk meningkatkan kualitas serta kreatifitas mahasiswa Teknik Informatika dalam bidang komputerisasi. HIMAUNTIKA merupakan organisasi internal Fakultas Teknik dan merupakan organisasi Struktural yang berkedudukan di Universitas Islam Syekh-Yusuf Tangerang tepatnya di Jalan Maulana Yusuf  Kota Tangerang Provinsi Banten. Organisasi ini bernama Himpunan Mahasiswa UNIS Teknik Informatika atau disingkat menjadi HIMAUNTIKA. Himpunan Mahasiswa Program Studi Teknik Informatika didirikan pada tanggal 03 Maret 2015 bertempat di  Universitas Islam Syekh-Yusuf Tangerang.</div>
</div>
<!-- End Pengertian Himauntika -->
