<!-- Visi, Misi, Tujuan -->
<div class="flex flex-col gap-6">
    <h1 class="font-Montserrat text-center text-2xl font-bold max-md:text-xl">VISI, MISI DAN TUJUAN HIMAUNTIKA</h1>
    <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
            <h1 class="text-center text-lg">VISI</h1>
            <p class="text-center font-Roboto max-md:text-sm max-sm:text-justify">Meningkatkan kualitas dan kreatifitas mahasiswa khususnya dalam bidang akademik Teknik Informatika guna memajukan sistem komputerisasi Kampus UNIS Tangerang, serta menanamkan jiwa persaudaraan yang dilandaskan dengan iman dan takwa dikalangan mahasiswa Teknik Informatika guna melahirkan mahasiswa yang unggul demi memajukan Fakultas Teknik Informatika UNIS Tangerang agar lebih di kenal oleh masyarakat luas</p>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-center text-lg">MISI</h1>
            <ol class="font-Roboto list-decimal max-sm:pl-4 max-md:text-sm text-justify">
                <li>Membantu kemajuan sistem komputerisasi Fakultas Teknik Informatika dan kampus UNIS Tangerang</li>
                <li>Membangkitkan mental dan kemampuan terpendam yang dimiliki mahasiswa Teknik Informatika guna membangun mereka agar menjadi pribadi yang mandiri</li>
                <li>Menyelenggarakan perkumpulan belajar dalam bidang akademik Teknik Informatka guna menciptakan Mahasiswa Teknik Informatika yang Cerdas dan mandiri.</li>
                <li>Menyiapkan sumber daya manusia yang berkualitas di bidang teknologi</li>
                <li>Menghasilkan generasi muda yang terampil, berkualitas, mandiri dan berwawasan luas.</li>
                <li>Membuat usaha-usaha lain yang sesuai dengan identitas dan azas organisasi serta berguna untuk mencapai tujuan untuk menciptakan mahsiswa dan mahasiswai Fakultas Teknik Informatika yang dapat berkreatifitas dalam bidang akademik Teknik informatika.</li>
            </ol>    
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-center text-lg">TUJUAN</h1>
            <ol class="font-Roboto list-decimal max-md:text-sm max-sm:pl-4 text-justify">
                <li>Menghasilkan lulusan di bidang keteknikan yang unggul, tangguh dan mampu bersaing di tingkat nasional dan internasional.</li>
                <li>Memberikan kontribusi nyata dalam pengembangan ilmu pengetahuan, teknologi,dan dalam kegiatan pengabdian pada masyarakat di bidang keteknikan, sehingga dapat berperan dalam menentukan arah kebijakan nasional khususnya dalam bidang Industri, Kimia, Teknologi Informasi, dan Konstruksi guna meningkatkan taraf kehidupan masyarakat,bangsa dan umat manusia.</li>
                <li>Membantu pemberdayaan masyarakat melalui penerapan ilmu pengetahuan dan teknologi.</li>
            </ol>
        </div>
    </div>
</div>
<!-- End Visi, Misi, Tujuan -->