<!-- 404 Page -->
<div id="gap" class="h-screen w-full flex flex-col gap-8 items-center justify-center">
    <h1 class="text-2xl font-bold">Error 404</h1>
    <div id="gap-1" class="flex flex-col items-center">
        <h2>Halaman tidak ditemukan</h2>
        <p>Maaf, Halaman yang anda cari tidak ditemukan. Silahkan klik tombol kembali untuk meneruskan</p>
        <a href="/" class="bg-blue-500 text-white rounded" >Kembali</a>
    </div>
</div>

<style>
    h1 {
        font-size: 3rem;
    }

    a {
        background-color: #3498db;
        padding: .3rem 1rem;
        border-radius: 3px;
    }

    #gap {
        gap: 2rem;
    }

    #gap-1 {
        gap: .5rem;
    }
</style>