---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
import LogoHimauntika from '@assets/himauntika.png';
---

<footer class="bg-slate-800 text-white flex flex-col gap-12">
    <div class="flex items-center gap-6 px-12 pt-10 max-sm:flex-col max-sm:px-4">
        <Image src={LogoHimauntika} alt="LogoHimauntika" format="avif" quality="mid" width={60} />
        <div>
            <h1 class="font-Montserrat font-bold max-sm:text-center">HIMAUNTIKA</h1>
            <p class="font-Roboto text-sm max-sm:text-center">Himpunan Mahasiswa UNIS Teknik Informatika</p>
        </div>
    </div>

    <div class="flex items-center justify-between px-12 max-sm:flex-col max-sm:text-center max-sm:gap-8 max-sm:px-2">
        <p class="flex flex-col text-sm font-Roboto max-sm:text-center">
            Gedung Lama Lt.2
            <span class="flex items-center gap-1"><Icon name="mdi:home" size={20} class="-translate-y-[1.5px]"/> Jl. Maulana Yusuf No.10, Babakan. Kec. Tangerang,</span>
            <span>Kota Tangerang, Banten 15118</span>
        </p>
        <div class="flex items-center gap-6 text-xl">
            <a href="https://www.instagram.com/himauntika_unis?igsh=cGczeWJwc2Y3OHk="><Icon name="ri:instagram-line" size={30}/><span class="sr-only">Instagram</span></a>
            <a href="https://www.facebook.com/himauntika.himauntika.7?mibextid=ZbWKwL"><Icon name="ri:facebook-box-fill" size={30}/><span class="sr-only">Facebook</span></a>
            <a href="https://www.tiktok.com"><Icon name="ri:tiktok-fill" size={30} /><span class="sr-only">Tiktok</span></a>
            <a href="/email"><Icon name="mdi:email" size={30} /><span class="sr-only">Email</span></a>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center py-6 bg-slate-900 text-white">
        <p class="font-bold font-Montserrat">HIMAUNTIKA UNIS TANGERANG</p>
        <p class="font-light text-sm font-Roboto">Copyright &copy; {new Date().getFullYear().toString()} - HIMAUNTIKA</p>
    </div>
</footer>